<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <p id="notice">
                <%= notice %>
            </p>
            <p class="devise-title-sm-login">アーティストお気に入り一覧</p>
            <div class="col-xs-8 col-xs-offset-2">
                <% @favorites.each do |favorite| %>
                <div class="form-group">
                    <table class="table devise-table">
                        <tr>
                            <th class="col-xs-3">
                                <%= attachment_image_tag favorite.artist,:image,size:"100x100",fallback: "no_image.jpg"%><br>
                                <%= favorite.artist.name%>
                            </th>
                            <td>
                                <%= favorite.artist.name %><br>
                            </td>
                            <td>
                                <%= link_to "スケジュールを確認する",artist_schedules_path(favorite.artist_id),class: "btn btn-default col-xs-7" %>
                            </td>
                        </tr>
                    </table>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>