<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1" align="center">
            <h3><strong>フォロー中</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <% if @users.empty?  %>
            <div class="searched">
                <h1>フォローしているユーザーはまだいません。</h1>
            </div>
            <% end %>
            <% @users.each do |user| %>
            <table class="table devise-table">
                <tr>
                    <th class="col-xs-1">
                        <%= attachment_image_tag user, :image, size:"100x100", fallback: "no_image.jpg"%><br>
                    </th>
                    <td class="col-xs-8">
                        <h4>
                            <%= link_to "#{user.name}", user_path(user.id) %>
                        </h4>
                        <p>
                            <%= user.introduction %>
                        </p>
                    </td>
                    <td class="col-xs-1" align="right" id="follow-<%= @user.id %>">
                        <% unless current_user.id == user.id %>
                        <%= render partial: "follow", locals: { user: user} %>
                        <% end %>
                    </td>
                </tr>
            </table>
            <% end %>
        </div>
    </div>
</div>