<div class="mypage-top"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="col-xs-3">
                <%= attachment_image_tag @user, :image, size:"120x120",fallback: "no_image.jpg", id: "file-preview" %>
            </div>
            <div class="col-xs-5">
                <h3>
                    <%= @user.name%>
                </h3>
                <h4>
                    <%= link_to "#{@user.followings.count}", follows_path(@user) %> フォロー中</h4>
                <h4>
                    <%= link_to "#{@user.followers.count}", followers_path(@user) %> フォロワー</h4>
            </div>
            <div class="col-xs-4 profile-edit" id="follow-<%= @user.id %>">
                <% if @user.id == current_user.id %>
                <%= link_to "プロフィールを編集", edit_user_path(@user),class: "btn btn-default col-xs-12"%>
                <%= link_to "マイカレンダー", user_events_path(current_user),class: "btn btn-info col-xs-12 profile-button" %>
                <% else %>
                <%= render partial: "follow", locals: { user: @user} %>
                <% end %>
            </div>
            <div class="col-xs-12 profile-introduction">
                <%= @user.introduction %>
            </div>
            <%= link_to "お気に入りアーティスト一覧", favorites_path(@user), class: "btn btn-primary col-xs-6 col-xs-offset-3 profile-button" %>
            <%= link_to "お気に入りミュージック一覧", myrecommends_path(@user), class: "btn btn-primary col-xs-6 col-xs-offset-3 profile-button" %>
            <% if @user.id == current_user.id %>
            <%= link_to "アーティスト新規作成", new_artist_path, class: "btn btn-primary col-xs-6 col-xs-offset-3 profile-button" %>
            <% end %>
        </div>
        <div class="col-xs-6">
            <div class="col-xs-12 profile-border">
                <p class="col-xs-9 favorite-artist">お気に入りアーティスト</p>
                <p class="favorite-artist">
                    <%= link_to '>>もっと見る',favorites_path(@user) ,class: "link" %>
                </p><br>
                <% @favorites.first(2).each do |favorite|%>
                <%= link_to artist_events_path(favorite.artist_id) do%>
                <div class="col-xs-6">
                    <%= attachment_image_tag favorite.artist, :image, size:"120x120", format: 'jpeg' , fallback: "no_image.jpg"%>
                    <%= favorite.artist.name%>
                </div>
                <% end %>
                <% end %>
            </div>
            <div class="col-xs-12">
                <p class="col-xs-9 favorite-music">お気に入り曲</p>
                <p class="favorite-music">
                    <%= link_to '>>もっと見る',myrecommends_path(@user) ,class: "link" %>
                </p>
                <% @myrecommends.first(6).each do |myrecommend|%>
                <%= link_to artist_recommend_path(myrecommend.artist_id,myrecommend.recommend_id) do%>
                <div class="col-xs-6">
                    <h4><i class="glyphicon glyphicon-user mypage-myreco-artistname">
                            <%= myrecommend.recommend.artistname %></i><br>
                        <i class="glyphicon glyphicon-headphones">
                            <%= myrecommend.recommend.song %></i></h4>
                </div>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="mypage-footer"></div>
</div>