<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="col-xs-4">
                <%= attachment_image_tag @user, :image, size:"120x120",fallback: "no_image.jpg", id: "file-preview" %>
            </div>
            <div class="col-xs-4">
                <h3>
                    <%= @user.name%>
                </h3>
            </div>
            <div class="col-xs-4 profile-edit">
                <% if @user.id == current_user.id %>
                <%= link_to "プロフィールを編集", edit_user_path(@user),class: "btn btn-default col-xs-12"%>
                <% else %>
                <% if current_user.following?(@user) %>
                <%= form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f| %>
                <%= hidden_field_tag :follow_id, @user.id %>
                <%= f.submit 'Unfollow', class: "btn btn-default col-xs-12" %>
                <% end %>
                <% else %>
                <%= form_for(current_user.relationships.build) do |f| %>
                <%= hidden_field_tag :follow_id, @user.id %>
                <%= f.submit 'Follow', class: "btn btn-default col-xs-12" %>
                <% end %>
                <% end %>
                <% end %>
            </div>
            <div class="col-xs-12 profile-introduction">
                <%= @user.introduction %>
            </div>
            <%= link_to "お気に入りアーティスト一覧", favorites_path(@user),class: "btn btn-default col-xs-12 profile-button" %>
            <%= link_to "お気に入り曲一覧", myrecommends_path(@user),class: "btn btn-default col-xs-12 profile-button" %>
            <%= link_to "マイカレンダー", user_events_path(current_user),class: "btn btn-default col-xs-12 profile-button" %>
        </div>
        <div class="col-xs-6">
            <div class="col-xs-12 profile-border">
                <p class="col-xs-10 favorite-artist">お気に入りアーティスト</p>
                <p lass="col-xs-2">
                    <%= link_to '>>もっと見る',favorites_path(@user) ,class: "link" %>
                </p><br>
                <% @artists.first(2).each do |artist|%>
                <%= link_to artist_path(artist.id) do%>
                <div class="col-xs-6">
                    <%= attachment_image_tag artist, :image, size:"120x120", format: 'jpeg' , fallback: "no_image.jpg"%>
                    <%= artist.name%>
                </div>
                <% end %>
                <% end %>
            </div>
            <div class="col-xs-12">
                <p class="col-xs-10 favorite-artist">お気に入り曲</p>
                <p lass="col-xs-2">
                    <%= link_to '>>もっと見る',myrecommends_path(@user) ,class: "link" %>
                </p><br>
                <% @myrecommends.first(2).each do |myrecommend|%>
                <%= link_to artist_recommend_path(myrecommend.artist_id,myrecommend.recommend_id) do%>
                <div class="col-xs-6">
                    <%= myrecommend.recommend.artistname %><br>
                    <%= myrecommend.recommend.song %>
                </div>
                <% end %>
                <% end %>
            </div>
            <div class="col-xs-12">
            </div>
        </div>
    </div>
</div>