<div class="container">
    <div class="row">
        <h3>マイカレンダー</h3>
        <div class="col-xs-3">
            <h2>新規スケジュール</h2>
            <%= form_for(@schedule) do |f| %>
            <div>
                <h5>アーティスト</h5>
                <%= collection_select :artist_schedule, :id, @favorite, :artist_id, :name%>
            </div>
            <div>
                <h5>開始</h5>
                <%= f.datetime_field :start ,class: 'col-xs-12'%>
            </div>
            <div>
                <h5>終了</h5>
                <%= f.datetime_field :finish ,class: 'col-xs-12'%>
            </div>
            <div>
                <h5>シェア</h5>
                <%= f.select :share, [["シェアする", "シェアする"], ["シェアしない", "シェアしない"]], {include_blank: "選択して下さい"}, {class: 'form-control'} %>
            </div>
            <div>
                <h5>場所</h5>
                <%= f.text_field :venue ,class: 'col-xs-12'%>
            </div>
            <div>
                <h5>URL</h5>
                <%= f.url_field :url ,class: 'col-xs-12'%>
            </div><br>
            <div>
                <h5>メモ</h5>
                <%= f.text_area :memo ,class: 'col-xs-12'%>
            </div>
            <div>
                <%= f.submit ' 追加 ',class: 'btn btn-primary col-xs-12' %>
            </div>
            <% end %>
        </div>
        <div class="col-xs-9">
            <div id="calendar"></div>
        </div>
    </div>
</div>