<% events.each do |event| %>
<div id='inputScheduleEditForm<%= event.id %>' class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-nm">
        <div class="modal-content">
            <div class="row artist-event-edit">
                <h3 class="modal-title" align="center"><strong>スケジュール</strong></h3>
            </div>
            <%= form_for(@event) do |f| %>
            <table class="col-xs-10 col-xs-offset-1 artist-event-edit">
                <tr>
                    <th class="col-xs-5">
                        登録ユーザー：</th>
                    <td>
                        <%= link_to user_path(event.user_id) do%>
                        <%= event.user.name%>
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <th class="col-xs-5">
                        アーティスト：</th>
                    <td>
                        <%= event.artist.name%>
                        <%= hidden_field :artist_event, :id, :value => event.artist_id %>
                    </td>
                </tr>
                <tr>
                    <th class="col-xs-5">タイトル：</th>
                    <td>
                        <%= event.title%>
                        <%= f.hidden_field :title, :value => event.title %>
                    </td>
                </tr>
                <tr>
                    <th class="col-xs-5">開始：</th>
                    <td>
                        <%= event.start.strftime("%Y年%m月%d日 %H時%M分")%>
                        <%= f.hidden_field :start, :value => event.start %>
                    </td>
                </tr>
                <tr>
                    <th class="col-xs-5">
                        終了：</th>
                    <td>
                        <%= event.end.strftime("%Y年%m月%d日 %H時%M分")%>
                        <%= f.hidden_field :end, :value => event.end %>
                        <%= f.hidden_field :share, :value => "シェアしない" %>
                    </td>
                </tr>
                <tr>
                    <th class="col-xs-5">会場：</th>
                    <td>
                        <%= event.venue%>
                        <%= f.hidden_field :venue, :value => event.venue %>
                    </td>
                </tr>
                <tr>
                    <th class="col-xs-5">URL：</th>
                    <td>
                        <%= raw Rinku.auto_link(event.url, :all, 'target="_blank"') %>
                        <%= f.hidden_field :url, :value => event.url %>
                    </td>
                </tr>
                <tr>
                    <th class="col-xs-5">メモ：</th>
                    <td>
                        <%= event.memo%>
                        <%= f.hidden_field :memo, :value => event.memo %>
                    </td>
                </tr>
            </table>
            <div class="modal-footer">
                <div align="center">
                    <% if event.user_id == current_user.id %>
                    <botton class="btn btn-default">登録済み</botton>
                    <% else %>
                    <%= f.submit "登 録 す る", class: "btn btn-primary"%>
                    <% end%>
                    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
<% end %>