<% events.each do |event| %>
<div id='inputScheduleEditForm<%= event.id %>' class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-nm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" align="center"><strong>スケジュール編集</strong></h3>
            </div>
            <div class="col-xs-10 col-xs-offset-1 artist-event-edit">
                <%= form_with(model: event, url: artist_event_path(event.artist_id, event.id), method: :put) do |f| %>
                <div class="col-xs-5 artist-event-item">アーティスト：</div>
                <div class="col-xs-7 artist-event-item">
                    <strong>
                        <%= event.artist.name%></strong>
                </div>
                <div class="col-xs-5 artist-event-item">タイトル：</div>
                <div class="col-xs-7 artist-event-item">
                    <%= f.text_field :title ,class: 'form-control'%>
                </div>
                <div class="col-xs-5 ">開始：</div>
                <div class="col-xs-7 artist-event-item">
                    <%= f.datetime_field :start ,class: 'form-control'%>
                </div>
                <div class="col-xs-5 artist-event-item">終了：</div>
                <div class="col-xs-7 artist-event-item">
                    <%= f.datetime_field :end ,class: 'form-control'%>
                </div>
                <div class="col-xs-5 artist-event-item">
                    シェア：</div>
                <div class="col-xs-7 artist-event-item">
                    <%= f.select :share, [["シェアする", "シェアする"], ["シェアしない", "シェアしない"]], {}, {class: 'form-control'} %>
                </div>
                <div class="col-xs-5 artist-event-item">会場：</div>
                <div class="col-xs-7 artist-event-item">
                    <%= f.text_field :venue ,class: 'form-control'%>
                </div>
                <div class="col-xs-5 artist-event-item">URL：</div>
                <div class="col-xs-7 artist-event-item">
                    <%= f.url_field :url ,class: 'form-control'%>
                </div>
                <div class="col-xs-5 artist-event-item">メモ：</div>
                <div class="col-xs-7 artist-event-item">
                    <%= f.text_area :memo ,class: 'form-control'%>
                </div>
            </div>
            <div class="modal-footer">
                <div align="center">
                    <%= f.hidden_field :user_id, :value => current_user.id %>
                    <%= f.submit "編集する", class: "btn btn-primary" %>
                    <%= link_to "削除する", artist_event_path(event.artist_id, event.id), method: :delete, class: "btn btn-danger"%>
                    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
<% end %>