<div class="event-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 artist-info">
                <div class="col-xs-12 event-artist-image">
                    <table>
                        <tr>
                            <th>
                                <%= attachment_image_tag @artist, :image, size:"80x80", fallback: "no_image.jpg" %>
                            </th>
                            <td><p class="event-artist-name">
                                    <%= @artist.name %>
                                </p></td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 artist-explanation">
                    <%= @artist.explanation %>
                </div>
                <div class="col-xs-12 artist-btn" id="favorite-<%= @artist.id %>">
                    <%= render partial: "favorite", locals: { artist: @artist } %>
                </div>
                <div class="col-xs-12 artist-btn">
                    <%= link_to 'みんなのおすすめへ', artist_recommends_path(@artist.id), class:"btn btn-info col-xs-12"%>
                </div>
                <div class="col-xs-12 artist-btn">
                    <% if @artist.user_id == current_user.id%>
                    <%= link_to ' 編　　集 ', edit_artist_path(@artist.id), class:"btn btn-success col-xs-12"%>
                    <% end %>
                </div>
            </div>
            <div class="col-xs-9">
                <div id="calendar"></div>
                <div id="inputEditForm">
                    <%= render 'events/artistedit', events: @events %>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(function() {
    // 画面遷移を検知
    $(document).on('turbolinks:load', function() {
        if ($('#calendar').length) {

            function Calendar() {
                return $('#calendar').fullCalendar({});
            }

            function clearCalendar() {
                $('#calendar').html('');
            }

            $(document).on('turbolinks:load', function() {
                eventCalendar();
            });
            $(document).on('turbolinks:before-cache', clearCalendar);

            $('#calendar').fullCalendar({
                //events.jsonを参照させる（getの際にパラメータとして@user.idを持たせる）
                events: '/events_artist.json?artist_id=<%=@artist.id%>',
                //カレンダー上部を年月で表示させる
                titleFormat: 'YYYY年 M月',
                //曜日を日本語表示
                dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
                //ボタンのレイアウト
                header: {
                    left: 'today prev,next',
                    center: 'title',
                    right: 'month agendaDay listMonth'
                },
                //終了時刻がないイベントの表示間隔
                defaultTimedEventDuration: '03:00:00',
                buttonText: {
                    prev: '前',
                    next: '次',
                    prevYear: '前年',
                    nextYear: '翌年',
                    today: '今日',
                    month: '月',
                    week: '週',
                    day: '日',
                    list: 'リスト'
                },
                selectable: true, // 選択可
                selectHelper: true, // 選択時にプレースホルダーを描画
                ignoreTimezone: false, // 自動選択解除
                navLinks: true,
                businessHours: true,
                eventLimit: true,

                timeZone: 'Asia/Tokyo',
                //スケジュールの時間表示を２４時間に
                timeFormat: "HH:mm",
                //スケジュールの色を変える
                eventColor: '#4682B4',
                //スケジュールの文字色を変える
                eventTextColor: '#DCDCDC',

                eventClick: function(calEvent, jsEvent, view) {
                    $(`#inputScheduleEditForm${calEvent.id}`).modal('show');
                },

                eventRender: function(event, element) {
                    element.css("font-size", "0.8em");
                    element.css("padding", "5px");
                }

            });
        }
    });
});
</script>