<div class="container">
    <div class="row">
        <h3>マイカレンダー</h3>
        <div class="col-xs-3">
            <h2>新規スケジュール</h2>
            <%= form_for(@event) do |f| %>
            <div>
                <h5>アーティスト</h5>
                <%= collection_select :artist_event, :id, @favorites, :artist_id, :name, class: 'form-control'%>
            </div>
            <div>
                <h5>開始</h5>
                <%= f.datetime_field :start ,class: 'col-xs-12'%>
            </div>
            <div>
                <h5>終了</h5>
                <%= f.datetime_field :finish ,class: 'col-xs-12'%>
            </div>
            <div>
                <h5>シェア</h5>
                <%= f.select :share, [["シェアする", "シェアする"], ["シェアしない", "シェアしない"]], {include_blank: "選択して下さい"}, {class: 'form-control'} %>
            </div>
            <div>
                <h5>場所</h5>
                <%= f.text_field :venue ,class: 'col-xs-12'%>
            </div>
            <div>
                <h5>URL</h5>
                <%= f.url_field :url ,class: 'col-xs-12'%>
            </div><br>
            <div>
                <h5>メモ</h5>
                <%= f.text_area :memo ,class: 'col-xs-12'%>
            </div>
            <div>
                <%= f.submit ' 追加 ',class: 'btn btn-primary col-xs-12' %>
            </div>
            <% end %>
        </div>
        <div class="col-xs-9">
            <div id="calendar"></div>
        </div>
    </div>
</div>
<!-- カレンダーjavascript -->
<script>
$(function() {
    // 画面遷移を検知
    $(document).on('turbolinks:load', function() {
        if ($('#calendar').length) {

            function Calendar() {
                return $('#calendar').fullCalendar({});
            }

            function clearCalendar() {
                $('#calendar').html('');
            }

            $(document).on('turbolinks:load', function() {
                eventCalendar();
            });
            $(document).on('turbolinks:before-cache', clearCalendar);

            $(document).ready(function() {
                //イベントを編集するための関数を設定
                //ajaxでpostするときは、自分でcsrf-tokenを投げるための設定が必要
                //ajaxでpatchする際は、postでmethodをpatchに指定する
                edit_event = function(start, finish, id) {
                    $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
                        var token;
                        if (!options.crossDomain) {
                            token = $('meta[name="csrf-token"]').attr('content');
                            if (token) {
                                return jqXHR.setRequestHeader('X-CSRF-Token', token);
                            }
                        }
                    });
                    $.ajax({
                        type: "post",
                        url: "/editevent",
                        data: {
                            start: start.toISOString(),
                            end: end.toISOString(),
                            id: id,
                            _method: 'PATCH'
                        }
                    }).done(function(data) {
                        alert("変更しました!");
                    }).fail(function(data) {
                        alert("変更できませんでした。");
                    });
                };


                $('#calendar').fullCalendar({
                    events: '/event.json',
                    //カレンダー上部を年月で表示させる
                    titleFormat: 'YYYY年 M月',
                    //曜日を日本語表示
                    dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
                    //ボタンのレイアウト
                    header: {
                        left: 'today prev,next',
                        center: 'title',
                        right: 'month agendaWeek agendaDay'
                    },
                    //終了時刻がないイベントの表示間隔
                    defaultTimedEventDuration: '03:00:00',
                    buttonText: {
                        prev: '前',
                        next: '次',
                        prevYear: '前年',
                        nextYear: '翌年',
                        today: '今日',
                        month: '月',
                        week: '週',
                        day: '日'
                    },
                    // Drag & Drop & Resize
                    editable: true,
                    //スケジュールの時間表示を２４時間に
                    timeFormat: "HH:mm",
                    //スケジュールの色を変える
                    eventColor: '#87cefa',
                    //スケジュールの文字色を変える
                    eventTextColor: '#000000',
                    eventRender: function(event, element) {
                        element.css("font-size", "0.8em");
                        element.css("padding", "5px");
                    }
                    eventClick: function(info) {
                        info.jsEvent.preventDefault(); // don't let the browser navigate

                        if (info.event.url) {
                            window.open(info.event.url);
                        }
                    }
                });

            });
        };
    });
});
</script>