<div class="event-page">
    <div class="container">
        <div class="row">
            <p align="center">
                <%= flash[:event_error] %>
            </p>
            <div class="col-xs-3">
                <h3 align="center"><strong>マイカレンダー</strong></h3>
                <%= form_for(@event) do |f| %>
                <div class="col-xs-12 event-user-new">アーティスト：
                    <%= collection_select :artist_event, :id, @favorites, :artist_id, :name,  {}, class: 'form-control'%>
                    <%= f.hidden_field :event_id, :value => nil %>
                </div>
                <div class="col-xs-12 event-user-new">タイトル：
                    <%= f.text_field :title ,class: 'form-control'%>
                </div>
                <div class="col-xs-12 event-user-new">開始：
                    <%= f.datetime_field :start ,class: 'form-control'%>
                </div>
                <div class="col-xs-12 event-user-new">終了：
                    <%= f.datetime_field :end ,class: 'form-control'%>
                </div>
                <div class="col-xs-12 event-user-new">シェア：
                    <%= f.select :share, [["シェアする", "シェアする"], ["シェアしない", "シェアしない"]], {include_blank: "選択して下さい"}, {class: 'form-control'} %>
                </div>
                <div class="col-xs-12 event-user-new">会場：
                    <%= f.text_field :venue ,class: 'form-control'%>
                </div>
                <div class="col-xs-12 event-user-new">URL：
                    <%= f.url_field :url ,class: 'form-control'%>
                </div><br>
                <div class="col-xs-12 event-user-new">メモ：
                    <%= f.text_area :memo ,class: 'form-control'%>
                </div>
                <div class="col-xs-12 event-new-btn">
                    <%= f.submit ' 追 加 す る ',class: 'btn btn-primary col-xs-12' %>
                </div>
                <% end %>
            </div>
            <div class="col-xs-9">
                <div id="calendar"></div>
                <div id="inputEditForm">
                    <%= render 'events/edit', events: @events %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- カレンダーjavascript -->
<script>
$(function() {
    function clearCalendar() {
        $('#calendar').html('');
    }
    $(document).on('turbolinks:before-cache', clearCalendar);

    $(document).on('turbolinks:load', function() {
        if ($('#calendar').length) {
            $('#calendar').fullCalendar({
                //events.jsonを参照させる（getの際にパラメータとして@user.idを持たせる）
                events: '/events.json?user_id=<%=@user.id%>',
                //カレンダー上部を年月で表示させる
                titleFormat: 'YYYY年 M月',
                //曜日を日本語表示
                dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
                //ボタンのレイアウト
                header: {
                    left: 'today prev,next',
                    center: 'title',
                    right: 'month agendaDay listMonth'
                },
                //終了時刻がないイベントの表示間隔
                defaultTimedEventDuration: '03:00:00',
                buttonText: {
                    prev: '前',
                    next: '次',
                    prevYear: '前年',
                    nextYear: '翌年',
                    today: '今日',
                    month: '月',
                    week: '週',
                    day: '日',
                    list: 'リスト'
                },
                selectable: true, // 選択可
                selectHelper: true, // 選択時にプレースホルダーを描画
                ignoreTimezone: false, // 自動選択解除
                navLinks: true,
                businessHours: true,
                eventLimit: true,

                timeZone: 'Asia/Tokyo',
                //スケジュールの時間表示を２４時間に
                timeFormat: "HH:mm",
                //スケジュールの色を変える
                eventColor: '#4682B4',
                //スケジュールの文字色を変える
                eventTextColor: '#DCDCDC',
                disableDragging: true,
                allDay: true,

                // event クリックで編集、削除
                eventClick: function(calEvent, jsEvent, view) {
                    jsEvent.preventDefault();
                    $(`#inputScheduleEditForm${calEvent.id}`).modal('show');
                },

                eventMouseover: function(event, jsEvent, view) {
                    jsEvent.preventDefault();
                }
            });
        }
    });
});
</script>