<div class="container">
    <div class="row">
        <div class="col-xs-12" align="center">
            <h3><strong>みんなのおすすめ</strong></h>
        </div>
        <div class="col-xs-3">
            <h3 align="center">おすすめ作成</h3>
            <%= form_for(@recommend, url: artist_recommends_path(@artist),method: :post) do |f| %>
            <div class="col-xs-12">
                <h4>アーティスト</h4>
                <%= f.text_field :artistname, class: "form-control" %>
            </div>
            <div class="col-xs-12">
                <h4>ミュージック</h4>
                <%= f.text_field :song ,class: "form-control"%>
            </div>
            <div class="col-xs-12">
                <h4>YouTube URL</h4>
                <%= f.url_field :url ,class: "form-control"%>
            </div>
            <div class="col-xs-12">
                <h4>説明</h4>
                <%= f.text_area :explanation ,class: "form-control"%>
            </div>
            <div class="col-xs-12 recommend-submit">
                <%= f.submit ' 投稿する ',class: 'btn btn-primary col-xs-12' %>
            </div>
            <% end %>
        </div>
        <div class="col-xs-9">
            <%= flash[:recommend_error] %>
            <div class="row">
                <div class="col-xs-12">
                    <% @recommends.each do |recommend| %>
                    <div class="form-group">
                        <table class="table">
                            <tr>
                                <th class="col-xs-2">
                                    <%= attachment_image_tag recommend.user,:image, size:"100x100", format: 'jpeg' , fallback: "no_image.jpg"%><br>
                                    <%= recommend.user.name %>
                                </th>
                                <td class="col-xs-6">
                                    <p class="glyphicon glyphicon-user recommend-artist-name">
                                        <%= recommend.artistname %>
                                    </p><br>
                                    <p class="glyphicon glyphicon-headphones recommend-song">
                                        <%= recommend.song %>
                                    </p>
                                </td>
                                <td id="myrecommends-<%= (@recommend.id) %>">
                                    <%= render partial: "myrecommend", locals: { recommend: recommend, artist: @artist} %>
                                </td>
                                <td class="col-xs-4">
                                    <p class="to-comment" align="right">
                                        <%= link_to "コメントページへ", artist_recommend_path(@artist,recommend.id)%>
                                    </p>
                                    <p align="center">
                                        <% if recommend.user_id == current_user.id %>
                                        <%= link_to "削除する",artist_recommend_path(@artist,recommend.id),method: :delete, class: "btn btn-danger"%>
                                        <% end %>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>