<div class="container">
    <div class="row" align="center">
        <h2 class="recommend-song-title">おすすめ曲</h2>
    </div>
    <div class="row" align="center">
        <iframe width="900" height="500" src="https://www.youtube.com/embed/<%= @recommend.url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <div class="row">
        <div class="col-xs-1 recommend-user">
            <%= link_to user_path(@recommend.user.id) do %>
            <%= attachment_image_tag @recommend.user, :image, size:"80x80", format: 'jpeg' , fallback: "no_image.jpg"%>
            <p class="recommend-user-name">
                <%= @recommend.user.name %>
            </p>
            <% end %>
        </div>
        <div class="col-xs-11">
            <table>
                <tr>
                    <td>
                        <p class="glyphicon glyphicon-user comment-recommend-artist-name">
                            <strong>
                                <%= @recommend.artistname %></strong>
                        </p>
                        <p class="glyphicon glyphicon-headphones comment-recommend-song">
                            <strong>
                                <%= @recommend.song %></strong>
                        </p>
                        <p>
                            <%= @recommend.explanation %>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <p class="myrecommend-title"></p>
    <%= form_for(@comment, url: artist_recommend_comments_path(@artist.id, @recommend.id),method: :post) do |f| %>
    <div class="row">
        <div class="col-xs-10">
            <%= f.text_area :comment, class: "form-control" %>
        </div>
        <div class="col-xs-2" >
            <%= f.submit ' コメントする ',class: "btn btn-primary" %>
        </div>
    </div>
    <% end %>
    <p class="comment-area"></p>
    <% @comments.each do |comment| %>
    <div class="row comment-box">
        <div class="col-xs-1">
            <%= link_to user_path(comment.user.id) do %>
            <%= attachment_image_tag comment.user, :image, size:"60x60", format: 'jpeg' , fallback: "no_image.jpg"%>
        </div>
        <div class="col-xs-10">
            <p>
                <%= comment.user.name %>
            </p>
            <% end %>
            <p>
                <%= comment.comment %>
            </p>
        </div>
        <div class="col-xs-">
            <% if @user.id == current_user.id %>
            <%= link_to artist_recommend_comment_path(@artist.id,@recommend.id,comment.id), method: :delete do%>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <% end %>
            <% end %>
        </div>
    </div>
    <% end %>
</div>