<div class="container">
    <div class="row">
        <h3 class="text-center"><strong>アーティスト新規登録</strong></h3>
    </div>
    <div class="row">
        <p align="center"><%= flash[:artist_error] %> </p>
        <div class="col-xs-12">
            <div class="col-xs-10 col-xs-offset-1">
                <%= form_for(@artist) do |f| %>
                <div class="form-group">
                    <table class="table user-table">
                        <tr>
                            <th class="col-xs-3">アーティスト名</th>
                            <td>
                                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
                            </td>
                        </tr>
                        <tr>
                            <th class="col-xs-3">アーティスト画像</th>
                            <td>
                                <div class="col-xs-4">
                                    <%= attachment_image_tag @artist, :image, size:"100x100",fallback: "no_image.jpg", id: "file-preview" %>
                                </div>
                                <div class="col-xs-8">
                                    <%= f.attachment_field :image, class: "btn btn-default user_attachment_field", id: "image_select"%>
                                    <label for="image_select" class="btn btn-default user_attachment_field" style="display: block;">画像選択</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="col-xs-3">アーティスト情報</th>
                            <td>
                                <%= f.text_area :explanation, autofocus: true, autocomplete: "introduction", class: "form-control" %>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="12">
                                <%= f.submit "新規作成する" ,class: "btn btn-lg btn-primary" %>
                            </td>
                        </tr>
                    </table>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<!-- 画像選択した際に、選択した画像を表示させるjavascript -->
<script>
document.getElementById('image_select').addEventListener('change', function(e) {
    // 1枚だけ表示する
    var file = e.target.files[0];

    // ファイルのブラウザ上でのURLを取得する
    var blobUrl = window.URL.createObjectURL(file);

    // img要素に表示
    var img = document.getElementById('file-preview');
    img.src = blobUrl;
});
</script>