<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <h2>スケジュール詳細</h2>
            <%= form_for(@schedule) do |f| %>
            <div class="col-xs-12">
                <h4>アーティスト</h4>
                <%= @artist.name %>
            </div>
            <div>
                <h5>開始</h5>
                <%= f.datetime_field :start ,class: 'col-xs-12'%>
            </div>
            <div>
                <h5>終了</h5>
                <%= f.datetime_field :finish ,class: 'col-xs-12'%>
            </div>
            <div>
                <h5>シェア</h5>
                <%= f.select :share, [["シェアする", "シェアする"], ["シェアしない", "シェアしない"]], {class: 'form-control'} %>
            </div>
            <div>
                <h5>場所</h5>
                <%= f.text_field :venue ,class: 'col-xs-12'%>
            </div>
            <div>
                <h5>URL</h5>
                <%= f.url_field :url ,class: 'col-xs-12'%>
            </div><br>
            <div>
                <h5>メモ</h5>
                <%= f.text_area :memo ,class: 'col-xs-12'%>
            </div>
            <div>
                <%= f.submit ' 更新 ',class: 'btn btn-primary col-xs-12' %>
            </div>
            <div>
                <%= link_to '削除', schedule_path(@schedule), method: :delete, data: { confirm: '削除しますか？' },class:"btn btn-danger col-xs-12" %>
            </div>
            <% end %>
        </div>
        <div class="col-xs-9">
            <div id="calendar"></div>
        </div>
    </div>
</div>