<div class="container">
    <div class="devise-container"></div>
    <div class="row">
        <h3 class="text-center"><strong>パスワード再発行</strong></h3>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-8 col-xs-offset-2">
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="form-group">
                    <table class="table devise-table">
                        <tr>
                            <th class="col-xs-3">メールアドレス</th>
                            <td>
                                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="center">
                                <%= f.submit "パスワード再設定メールを送る" ,class: "btn btn-primary"%>
                            </td>
                        </tr>
                    </table>
                </div>
                <% end %>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-8 col-xs-offset-2">
                        <p class="devise-title-sm">既に登録済みの方</p>
                        <h4>
                            <%= link_to 'こちら', new_user_session_path , class: "link"%>からログインしてください。</h4>
                    </div>
                    <div class="col-xs-8 col-xs-offset-2">
                        <p class="devise-title-sm">登録がお済みでない方</p>
                        <h4>
                            <%= link_to "こちら", new_registration_path(resource_name)%>から新規登録を行ってください。</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>